# Required
#python==3.10
tensorflow==2.9.0
keras==2.9.0
numba==0.60
scipy==1.12.0

# Optional
python-pcl==0.3.0rc1           # for loading .ply files
tensorflow-probability==0.15.0 # for compression via tfc
tensorflow-compression==2.9.2  # for compression via tfc